doctype html
html
  head
    include styles/normalize.css   
    include styles/skeleton.css
    include styles/style.css

    include scripts/script.js
  body
  
  section.hero.u-full-width
          .hero-image
          .container.centered
              .twelve.columns
                h1 Top links #{when}
  
    section.u-full-width
        .container.centered
        ol#links
            for link in Links
                li.link
                    if link.title != null && link.title != ""
                        a(href='#{link.url}') #{link.title}
                    else
                        a(href='#{link.url}') #{link.url}
                    p #{link.description}
                    p.link-attribution by #{link.publisher.username} in ##{link.channel}
                    p(class='time_since', timestamp='#{link.timestamp}')
                    if link.url =~ ".*(\.(jpg|jpeg|png|gif)$)"
                        img(src='#{link.url}', alt='#{title}')
    include ./footer
