doctype html
html
  head
    include styles/normalize.css   
    include styles/skeleton.css
    include styles/style.css

    include scripts/script.js
  body
  
  section.hero.u-full-width
          .hero-image
          .container.centered
              .twelve.columns
                h1 Top links #{when}
  
    section.u-full-width
        .container
        ol#links
            for link in Links
                li
                    a(href='#{link.url}') #{link.url}
                    p by #{link.publisher.username} in ##{link.channel}
                    p(class='time_since', timestamp='#{link.timestamp}')
    
    include ./footer
