doctype html
html
  head
    include style.css
    include script.js
  body
    ol#links
      for link in Links
        li
          div
            a(href='#{link.url}') #{link.url}
            p by #{link.publisher.username} in ##{link.channel}
            p(class='time_since', timestamp='#{link.timestamp}')
